/Exa_404_EulerProjects/nbproject/private/
/Exa_404_EulerProjects/build/
/Exa_Q4_Kontoverwaltung/nbproject/private/
/Exa_Q4_Kontoverwaltung/build/
/Exa_404_EulerProjects/dist/
/Exa_Q4_406_BruteForce/nbproject/private/
/Exa_Q4_406_BruteForce/build/
/Exa_501_JDBCIntro/nbproject/private/
/Exa_501_JDBCIntro/build/
/JavaApplication57/nbproject/private/
/Exa_502_MitarbeiterDB/nbproject/private/
/Exa_502_MitarbeiterDB/build/
/Exa_503_JDBCStructure/nbproject/private/
/Exa_503_JDBCStructure/build/
/Bsp_403_JDCStructure/build/
/Bsp_403_JDCStructure/dist/
/Bsp_403_JDCStructure/nbproject/private/
/Exa_504_JDBC_SchoolDB/nbproject/private/
/Exa_504_JDBC_SchoolDB/build/
/Exa_505_JDBC_BooksDB/nbproject/private/
/Exa_505_JDBC_BooksDB/build/
/Exa_506_JDBC_EmployeeDB/nbproject/private/
/Exa_506_JDBC_EmployeeDB/build/